<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 配置对应接口的类路径  -->
<mapper namespace="com.shop.mapper.count.CountMapper" >
  
    <select id="queryProCount" resultType="map">
   		select pro_name as proName,sum(pro_totalno) as proTotalno from t_properties 
   		group by pro_name
    </select>
  
</mapper>

